html, body { height: 100%; margin: 0; padding: 0}
.wrapper {
	height: 100%;
}
header, aside {
	color: white;
	background: rgba(0, 0, 0, 0.7);
	padding: 8px;
	position: absolute;
	width: 350px;
	margin: 0;
}

header {
	top: 0;
	left: 0;
}

#map { height: 100%;}
aside {
	top: 0;
	right: 0;
	height: 100%;
	overflow: scroll;
	padding: 0;
}
li {
	list-style-type: none;
	padding: 8px;
}

.meet-name {

}